input {
  width: 100% !important;
}

textarea {
  width: 100% !important;
  max-height: 300px !important;
}

.p-dropdown{
  width: 100% !important;
}

.table-div{
  max-height: 300px !important;
  overflow-y: scroll !important;
}
