<section *ngIf="logged; else login">
  <div class="d-flex flex-column flex-md-row" style="height: 100vh; width: 100vw">
    <div class="glass text-center d-flex flex-column me-3" *ngFor="let item of array; let i = index">
      <h4>Lista {{i + 1}}</h4>
      <div class="table-div">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of array[i]">
              <th scope="row">{{item}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-column mt-auto">
        <!-- <input (keyup.enter)="newVal(model[i], i)" [(ngModel)]="model[i]" type="text"> -->
        <div class="d-flex">
          <button (click)="colar(i)" class="btn btn-success w-100">colar</button>
          <button (click)="array[i] = []" class="btn btn-danger w-100">Limpar</button>
        </div>
      </div>
    </div>
    <div class="glass text-center d-flex flex-column me-3">
      <h4>Lista Confluência</h4>
      <div class="table-div">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of array2">
              <th scope="row">{{item}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-auto">
        <div class="d-flex">
          <button (click)="array = [[],[],[]]; array2 = []" class="btn btn-danger w-100">Limpar tudo</button>
          <button (click)="copy()" class="btn btn-success w-100">Copiar</button>
        </div>
        <button (click)="getMatch()" class="btn btn-primary w-100">Fazer confluência</button>
      </div>
    </div>
  </div>
</section>

<ng-template #login>
  <section style="width: 100vw; height: 100vh; justify-content: center; align-items: center; display: flex;">
    <div class="login-div p-4">
      <div class="mb-3">
        <label for="user" class="d-block">Usuário</label>
        <input [(ngModel)]="user" id="user" type="text">
      </div>
      <div class="mb-3">
        <label for="senha" class="d-block">Senha</label>
        <input [(ngModel)]="password" id="senha" type="password">
      </div>
      <div class="text-center">
        <button (click)="logar()" class="btn btn-success">Entrar</button>
      </div>
    </div>
  </section>
</ng-template>
<router-outlet></router-outlet>
